/EjercicioSiete/build/
/EjercicioOcho/nbproject/private/
/EjercicioOcho/build/
/EjercicioNueve/nbproject/private/
/EjercicioNueve/build/
/EjercicioDiez/nbproject/private/
/EjercicioDiez/build/
/EjercicioOnce/nbproject/private/
/EjercicioOnce/build/
/EjercicioDoce/nbproject/private/
/Eje01/nbproject/private/
/Eje01/build/